[project]
	description = Jekyll is a blog-aware, static site generator in Ruby
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/evanchueng (evanchueng)
[access "refs/for/refs/*"]
	read = group user/evanchueng (evanchueng)
	push = group user/evanchueng (evanchueng)
	label-Code-Review = -2..+2 group user/evanchueng (evanchueng)
	label-Verified = -1..+1 group user/evanchueng (evanchueng)
	rebase = group user/evanchueng (evanchueng)
	removeReviewer = group user/evanchueng (evanchueng)
	submit = group user/evanchueng (evanchueng)
[access "refs/heads/*"]
	read = group user/evanchueng (evanchueng)
	create = group user/evanchueng (evanchueng)
	push = +force group user/evanchueng (evanchueng)
	pushMerge = group user/evanchueng (evanchueng)
[access "refs/tags/*"]
	push = +force group user/evanchueng (evanchueng)
	pushTag = group user/evanchueng (evanchueng)
	pushSignedTag = group user/evanchueng (evanchueng)
